.container {
  z-index: 1;

  display: -moz-inline-box;
  /* position: fixed;
  bottom: 250px; */
}

.skillsTitle {
  font-family: CoffeeSigns;
  font-size: 50px;
  color: white;
}

.topDog {
  z-index: 1;
  display: flex;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.raise {
  width: 80px;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  font-family: LemonMelon;
}

.JS,
.react,
.css3,
.html5,
.ruby,
.sql,
.noSQL,
.material,
.figma,
.bootstrap,
.heroku {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.icon2:hover ~ .JS,
.icon2:hover ~ .react,
.icon2:hover ~ .css3,
.icon2:hover ~ .html5,
.icon2:hover ~ .ruby,
.icon2:hover ~ .sql,
.icon2:hover ~ .noSQL,
.icon2:hover ~ .material,
.icon2:hover ~ .figma {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.icon2:hover {
  color: #f8edeb;
  transform: translateY(-10px);
  text-shadow: 3px 6px white;
}

.icon3:hover {
  color: #f8edeb;
  transform: translateY(-10px);
  text-shadow: 3px 6px white;
}

.icon3:hover ~ .bootstrap,
.icon3:hover ~ .heroku {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}
.icon2 {
  z-index: 2;
  width: 50px;
  height: 50px;
  color: #fff;
  transition: transform 250ms;
}

.icon3 {
  z-index: 2;
  width: 48px;
  height: 48px;
  color: #fff;
  padding: 4px;
  transition: transform 250ms;
}

.bar {
  background-color: #eee;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 2px;
  /* font-size: 12px; */
  color: #fff;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar::before {
  content: "";
  background-color: #f3b0ff;
  display: flex;
  padding: 4px 0 4px 7px;
  border-radius: inherit;
  animation: load 4s 0s;
  -webkit-animation: load 4s 0s;
  -moz-animation: load 4s 0s;
  -o-animation: load 4s 0s;
}

.bar.front::before {
  /* border: lightslategrey; */
  background-color: #d8bbff;
}
.bar.back::before {
  background-color: #e56b6f;
}

.bar.learning::before {
  width: calc(20% - 10px);
}
.bar.basic::before {
  width: calc(40% - 10px);
}
.bar.intermediate::before {
  width: calc(60%);
}
.bar.advanced::before {
  width: calc(90% - 10px);
}
.bar.expert::before {
  width: calc(100%);
}
