* {
  margin: 0;
  padding: 0;
}

.aboutParent {
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.aboutImage {
  width: 40%;
  margin-right: 10px;
  border-radius: 25px 25px 25px 25px;
  transition: 4s, ease 0.5s linear;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.aboutImage:hover {
  transform: translateY(-15px);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  box-shadow: 0 0 6px rgba(182, 211, 207, 0.9),
    0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(255, 155, 155, 0.981),
    0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(255, 155, 155, 0.981),
    0 0 54px rgba(255, 155, 155, 0.981);
  transform: scale(1.1);
}

.aboutDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  color: white;
  font-family: CoffeeSigns;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 68%;
  margin: 1px;
}

.aboutBox {
  display: flex;
  margin: 0 auto;
  align-items: center;
  width: 50%;
}

.bio {
  color: white;
  font-family: monospace;
  font-size: 20px;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 20px;
}

.socialIcons {
  width: 30px;
  height: 40px;
}

.socialIcons:hover {
  color: #f8edeb;
  transform: translateY(10px);
  transition: 0.3s;
  text-shadow: 3px 6px white;
  cursor: pointer;
}

.socialIcons:hover ~ .git,
.socialIcons:hover ~ .link,
.socialIcons:hover ~ .email {
  color: white;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}

a {
  color: #ffffff;
  text-decoration: none;
}
.git,
.link,
.email {
  text-decoration: none;
  font-size: 13px;
  visibility: hidden;
  opacity: 0;
  padding-top: 15px;

  transition: visibility 0s, opacity 0.5s linear;
}
.social {
  display: flex;
  font-family: monospace;
  padding-left: 15px;
}

/* @media screen and (min-width: 900px) {
  .aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .bio {
    color: white;
    font-family: monospace;
    font-size: 45px;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 20px;
  }
  .socialIcons {
    width: 60px;
    height: 60px;
  }
  .name {
    color: white;
    font-family: CoffeeSigns;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 68%;
    margin: 1px;
  }
  .git,
  .link,
  .email {
    text-decoration: none;
    font-size: 35px;
    visibility: hidden;
    opacity: 0;
    padding-top: 15px;

    transition: visibility 0s, opacity 0.5s linear;
  }
} */

@media screen and (max-width: 600px) {
  .aboutBox {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .social {
    display: flex;
    font-family: monospace;
    padding-left: 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}
