.hmbtn {
  color: white;
  font-family: LemonMelon;
  text-decoration: none;
  font-size: 45px;
}

* {
  margin: 0;
  padding: 0;
}

.back {
  cursor: pointer;
  text-orientation: upright;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  font-family: LemonMelon;
  color: white;
  font-size: 40px;
  position: relative;
  z-index: 1;
  margin: 0;
}
.skills {
  margin: 0;
}
.square p {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 55px;
  font-family: CoffeeSigns;
  display: flex;
  justify-content: center;
}

.bkground {
  background: url("https://images.unsplash.com/photo-1535392432937-a27c36ec07b5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.square {
  height: 80vh;
  width: 90vw;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  transform: translate(0%, 10%);
  overflow: hidden;
  display: inline-block;
  color: #000;
}

.square:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
}
.textDiv {
  position: relative;
  z-index: 100;
  display: flex;
  margin: 0 auto;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.name {
  color: white;
  font-family: CoffeeSigns;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 68%;
  margin: 1px;
}

.bio {
  color: white;
  font-family: monospace;
  font-size: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.socialIcons {
  width: 40px;
  height: 40px;
}

.socialIcons:hover {
  color: #f8edeb;
  transform: translateY(10px);
  transition: 0.3s;
  text-shadow: 3px 6px white;
  cursor: pointer;
}

.socialIcons:hover ~ .git,
.socialIcons:hover ~ .link,
.socialIcons:hover ~ .email {
  color: white;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}

a {
  color: #ffffff;
  text-decoration: none;
}
.git,
.link,
.email {
  text-decoration: none;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.social {
  z-index: 2;
  position: relative;
  display: flex;
  float: right;
  /* transform: translateX(4em); */
  /* justify-content: center;
  align-items: center; */
}
