.thank {
  position: relative;
  z-index: 1;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  font-weight: 900;
  background-color: #fa9c9c;
  width: 100%;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #fa9c9c;
  box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
}

.fonts {
  font-family: CoffeeSigns;
  font-size: 40px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.formControl {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 15px 15px 15px 15px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  outline: none;
  width: 100%;
}

.formControlMessage {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 15px 15px 15px 15px;
  color: white;
  outline: none;
  height: 60px;
  overflow-wrap: break-word;
  padding: 10px;
  width: 99%;
}
.contact {
  font-family: Julius Sans One;
  color: white;
}

.message2 {
  padding-top: 10px;
  font-family: Julius Sans One;
  font-size: 20px;
  width: 80%;
}

.layout {
  margin: 0 auto;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  padding-bottom: 2em;
  display: flex;
  margin-top: 40px;
}

.message {
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  width: 35%;
}
.emailParent {
  position: relative;
  z-index: 1;
  width: 40%;
  padding: 10px;
  display: -webkit-inline-box;
  border-style: dotted;
  border-radius: 10px;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .layout {
    margin: 0 auto;
    justify-content: center;
    width: 50em;
    align-items: center;
    padding-bottom: 2em;
    display: flex;
    margin-top: 40px;
  }
  .emailParent {
    position: relative;
    z-index: 1;
    width: 40%;
    padding: 5px;
    display: -webkit-inline-box;
    border-style: dotted;
    border-radius: 10px;
    color: white;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
  }
  .thank {
    position: relative;
    z-index: 1;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .message2 {
    padding-top: 10px;
    font-family: Julius Sans One;
    font-size: 25px;
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .layout {
    margin: 0 auto;
    justify-content: space-evenly;
    width: 90%;
    align-items: center;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .message {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  .emailParent {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px;
    display: -webkit-inline-box;
    border-style: dotted;
    border-radius: 10px;
    color: white;
    flex-wrap: wrap;
  }
}
