.modalImage {
  width: 100%;
  height: 90%;
}

.modalTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalTopSocial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modalTopSocialicons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.modalTopSocialIcon {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-top: 3px;
  color: black;
}

.modalTop h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}

.description {
  padding: 13px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.techTitle {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.technologies span {
  float: left;
  margin: 0 auto;
  border-style: 3px solid transparent;
  background-image: linear-gradient(to right, #9fe6f2, #a3a1ff);
  padding: 5px;
  text-transform: uppercase;
  font-size: 10px;
  color: white;
  transition: all 0.3s ease 0s;
}

.technologies span:hover {
  transform: translateY(-2px);
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.CloseButton {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transform: translate(-40px, -40px);
}

.CloseButton:hover {
  background-color: #fa9c7f;
  box-shadow: 0px 15px 20px rgba(119, 29, 0, 0.73);
  color: #fff;
  /* transform: translateY(-2px); */
}

.overLayStyle {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow-y: scroll;
}

.customStyle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  z-index: 100;
  width: 60%;
  height: 60%;
  overflow-y: scroll;
  border-radius: 15px 15px 15px 15px;
}

@media screen and (min-height: 100px) {
  .overLayStyle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow-y: scroll;
  }

  .customStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    z-index: 100;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    border-radius: 15px 15px 15px 15px;
  }
  .modalTopSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CloseButton {
    width: 100px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    transform: translate(10px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 360px), (min-height: 640px) {
  .overLayStyle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow-y: scroll;
  }

  .customStyle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    z-index: 100;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    border-radius: 15px 15px 15px 15px;
  }
  .modalTopSocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .CloseButton {
    width: 100px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    transform: translate(10px);
    margin-bottom: 30px;
  }
}
