* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.welcome {
  color: white;
  font-family: CoffeeSigns;
  font-size: 60px;
  text-shadow: -5px 1px 51px #0000002e;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
  animation: shining 0.1s alternate infinite;
}

@keyframes shining {
  from {
    text-shadow: 0 0 6px rgba(182, 211, 207, 0.9),
      0 0 30px rgba(182, 211, 207, 0.3), 0 0 12px rgba(255, 155, 155, 0.981),
      0 0 21px rgba(15, 115, 223, 0.9), 0 0 34px rgba(255, 155, 155, 0.981),
      0 0 54px rgba(255, 155, 155, 0.981);
  }
  to {
    text-shadow: 0 0 6px rgba(182, 211, 207, 1), 0 0 30px rgb(254, 229, 131),
      0 0 12px rgba(255, 155, 207, 0.981), 0 0 22px rgba(15, 115, 223, 0.8),
      0 0 38px rgba(255, 155, 207, 0.981), 0 0 60px rgba(15, 115, 223, 1);
  }
}

.welcome li {
  display: flex;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transform: translateY(25vh);
}

.aboutStyle {
  cursor: pointer;
  list-style: none;
  text-orientation: upright;
  text-transform: uppercase;
  font-family: LemonMelon;
  color: white;
  display: block;
  font-size: 40px;
  font-style: italic;
  text-shadow: 0 0 6px rgba(182, 211, 207, 1), 0 0 30px rgba(182, 211, 207, 0.4),
    0 0 12px rgba(255, 155, 207, 0.981), 0 0 38px rgba(255, 155, 207, 0.981),
    0 0 60px rgba(15, 115, 223, 1);
}

.dance {
  font-family: LemonMelon;
  color: white;
  display: block;
  font-size: 40px;
  font-style: italic;
}

.dance:hover li {
  animation: dance 1s infinite;
  /* transform-origin: center center; */
  display: inline-flex;
}

@keyframes dance {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.icon {
  z-index: 2;
  width: 50px;
  height: 50px;
}

.spacing {
  display: inline-flex;
  transform: translate(-5px, 1vh);
  width: inherit;
  height: inherit;
  flex-direction: column;
  scroll-behavior: smooth;
  animation-delay: 1000ms;
}

.linkStyle {
  display: flex;
  justify-content: space-evenly;
}

.linkStyle:hover {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .spacing {
    display: inline-flex;

    width: inherit;
    height: inherit;
    flex-direction: column;
    scroll-behavior: smooth auto;
  }
  .linkStyle {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .welcome li {
    display: flex;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    transform: translateY(5vh);
    margin-bottom: 30vh;
    color: black;
  }
}
